
body{
  background-color: rgb(196, 218, 156) !important;
}
a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background: none !important;
  box-shadow: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
